<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
    
    <!-- 配置包扫描器 -->
    <context:component-scan base-package="com.itheima.controller"/>
    
    <!-- 静态资源映射
    	<mvc:resources/>作用：用来进行静态资源的访问
		location：静态资源的位置
		mapping:url中包含静态资源请求的路径
		-->
    <mvc:resources location="/WEB-INF/js/" mapping="/js/**"></mvc:resources>
    
    <!-- 解决静态资源无法被springMVC处理的问题，静态资源由WEB服务器默认的Servlet来处理 -->
	<mvc:default-servlet-handler />
	
    <!-- 注解启动，相当于配置新版处理器映射器和处理器适配器 -->
  	<mvc:annotation-driven />

  	<!-- 配置视图解析器 -->
  	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
  		<property name="prefix" value="/WEB-INF/jsp/"/>
  		<property name="suffix" value=".jsp"/>
  	</bean>
  	
  	<context:property-placeholder location="classpath:resource.properties" />
  	
</beans>